doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
        meta(name='description', content='UCLA Coding Competition')
        meta(name='author', content='')
        title CodeSprint LA
        // Bootstrap core CSS
        link(href='assets/flatify/css/bootstrap.min.css', rel='stylesheet')
        // Custom Google Web Font
        link(href='assets/flatify/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Arvo:400,700', rel='stylesheet', type='text/css')
        // Custom CSS
        link(href='assets/flatify/css/general.css', rel='stylesheet')
        // Owl-Carousel
        link(href='assets/flatify/css/custom.css', rel='stylesheet')
        link(href='assets/flatify/css/owl.carousel.css', rel='stylesheet')
        link(href='assets/flatify/css/owl.theme.css', rel='stylesheet')
        link(href='assets/flatify/css/style.css', rel='stylesheet')
        link(href='assets/flatify/css/animate.css', rel='stylesheet')
        // Magnific Popup core CSS file
        link(rel='stylesheet', href='assets/flatify/css/magnific-popup.css')

        //favicon
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="icon", href="img/favicon.ico", type="image/x-icon")

        //main css
        link(rel='stylesheet', href='static/css/home.css')

        script(src='assets/flatify/js/modernizr-2.8.3.min.js')
    body#home
        // FullScreen
        // NavBar
        nav.navbar-default(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#home')
                        b CodeSprint LA
                .collapse.navbar-collapse.navbar-right.navbar-ex1-collapse
                    ul.nav.navbar-nav
                        li.menuItem
                            a(href='#about')
                                b about
                        li.menuItem
                            a(href='#schedule2')
                                b schedule
                        li.menuItem
                            a(href='#faq')
                                b f.a.q
                        li.menuItem
                            a(href='#sponsors2')
                                b sponsors
                        li.menuItem
                            a(href='#contact')
                                b contact
                        li.menuItem
                            a(href='contest.php')
                                b(style='color:rgb(254,214,49)') portal 
        .intro-header
            .col-xs-12.text-center.abcen1.well
                h1.h1_home.wow.fadeIn(data-wow-delay='0.4s')
                    b.smallTitle
                        div.title-wrap.row
                            span.col-xs-12.col-sm-12.col-md-3.col-md-offset-2#title1 Code
                            span.col-xs-12.col-sm-12.col-md-4#title2
                                i Sprint
                            span.col-xs-12.col-sm-12.col-md-3#title3 LA
                    b.largeTitle
                        div.title-wrap.row
                            a(target='_blink')
                                img(src='static/img/CodeSprintLA.png')
                h2.h2_home.wow.fadeIn(data-wow-delay='0.6s')
                    b.date
                     span Sunday, May 5th, 2019
                h3 Carnesale Commons, UCLA
                h3 Hosted by #[a.plaina(href="https://www.facebook.com/groups/ucla.icpc/") ACM-ICPC]
                ul.list-inline.intro-social-buttons

                    li
                        a.btn.btn-lg.btn-register.wow.fadeIn(href='https://forms.gle/MAEM7fesRUvPgPbA6', data-wow-delay='0.8s', target='_blink')
                            span.network-name
                                b Register
                                //- b Register Team
                    //- li#download
                    //-     a.btn.btn-lg.btn-more.wow.swing.wow.fadeIn(href='https://forms.gle/MAEM7fesRUvPgPbA6', data-wow-delay='1.2s', target='_blink')
                    //-         span.network-name
                    //-             b Register Individual
                    li#event
                        a.btn.btn-lg.btn-compete.wow.swing.wow.fadeIn(href='https://www.facebook.com/events/790401354667939/', data-wow-delay='1.2s', target='_blink')
                            span.network-name
                                b FB Event Page


                br

            // /.container
            .col-xs-12.text-center.abcen.wow.fadeIn
                //- .button_down
                //-     a.imgcircle.wow.bounceInUp(data-wow-duration='1.5s', href='#about')
                //-         img.img_scroll(src='assets/flatify/img/icon/circle.png', alt='')
        section#about
            .container
                .section-header
                    h1.about-header about
                .section-content
                    p.plain
                        | CodeSprint LA is a multi-round team algorithmic coding competition geared towards those newer to competitive programming. Team up with two of your friends and race your fellow Bruins in order to solve the most problems and win prizes and bragging rights!
                    p.plain.seco
                        | We will be holding our third iteration of CodeSprint LA on Sunday, May 5th.
                        | Join us for an exciting day of coding battles, free food, swag, and have a great time! Top teams and individuals will win prizes (more info coming out later)!
                        //- from 9:30 AM to 3:30 PM.
                        //- Join us for an exciting day of coding battles, free food, swag, and have a great time! Top teams and individuals will win prizes including Fitbits, Birksun solar-powered backpacks, 3D printing pens, Xbox games, and more.
        section#schedule2
            .container
                .section-header
                    h1.schedule-header schedule
                .section-content
                    p.plain
                        | CodeSprint LA will take place on Sunday, May 5th in Carnesale Commons
                    table.table.borderless
                        tr
                            td Registration
                            td 9:30 AM
                        tr
                            td Opening and Rules
                            td 9:45 AM
                        tr
                            td Individual Round
                            td 10:00 AM
                        tr
                            td Lunch
                            td 12:00 PM
                        tr
                            td Team Round
                            td 12:45 PM
                        tr
                            td Award Ceremony
                            td 3:00 PM
        section#faq
            .container
                .section-header
                    h1.faq-header f.a.q
                .section-content
                    .row
                        .col-md-4
                            h3 Who can attend?
                            p If you are an UCLA student, you are more than welcome to attend! Only undergraduate students will be eligible for prizes, however.
                            h3 What should I bring?
                            p All participants should bring their own laptops. Unless your laptop has a ridiculous battery life, don't forget your charger as well! Bring pencil and paper too, as you might need them to work out some of the tougher problems.
                        .col-md-4
                            h3 How do teams work?
                            p Teams will consist of three members. You must have a full team of three members to participate in the Team Round, so please try to register with exactly three members. If you cannot form a full team, we'll try out best to match you with other incomplete teams.
                            h3 What's the difficulty?
                            p CodeSprint LA was designed with people new to competitive programming in mind, so both inexperienced and experienced competitive coders would be able to participate and have fun.
                        .col-md-4
                            h3 How much does it cost?
                            p Nothing! However, since lunch is provided by the Hill's dining service (funded by swipes), we strongly encourage you to donate your swipes for lunch! If you have Premium and would like to give out extra swipes for others, that's absolutely appreciated too, and this will help us retain more funds for cool prizes! 😎
                            h3 What are the prizes?
                            p Raspberry Pi, Google Home Minis, Amazon gift cards, mixed nuts, and much more to come! We will be giving out prizes for the best teams, the best individuals, the first solves, as well as the best lowerclassmen. 
                            //- p Each member of the first place team will receive a Fitbit Flex, and each member of the second and third place teams will receive a Birksun solar-powered backpack. We will also be giving out awards to best individuals and underclassmen. Top participants will have the option of submitting their resumes to our sponsors!
                            //- (Facebook, Google, and Microsoft) for internship and job opportunities!
        section#sponsors2
            .container
                .section-header
                    h1.sponsor-header sponsors
                .section-content
                    //- .row.main
                    //-     a(href='https://www.facebook.com/careers', target='_blink')
                    //-         img.facebook(src='img/facebook.png')
                    //- .row.main
                    //-     a.googlelink(href='https://goo.gl/ezS2lw', target='_blink')
                    //-         img.google(src='img/google.png')
                    //-     a.microsoftlink(href='https://careers.microsoft.com', target='_blink')
                    //-         img.microsoft(src='img/microsoft.png')
                    //- .row.playful
                    //-     a.playfulllink(href='http://www.beplayfull.com/', target='_blink')
                    //-         img.playfull(src='img/playfull.png')
                    //- .row.food
                    //-     a.shophouselink(href='https://shophousekitchen.com/', target='_blink')
                    //-         img.shophouse(src='https://upload.wikimedia.org/wikipedia/en/c/cd/ShopHouse_logo.jpg')
                    //-     a.enzolink(href='http://www.enzospizzeria.com/', target='_blink')
                    //-         img.enzo(src='http://www.enzospizzeria.com/skins/enzospizzeria/enzospizzeriawestwood.gif')


        section#contact
            .container
                .section-header
                    h1.contact-header contact
                .section-content
                    h3 Have any questions, concerns, or comments? Feel free to contact us at
                        a.contactlink(href='mailto:codesprintla@gmail.com', target='_blink') &nbsp; codesprintla@gmail.com!


        // JavaScript
        script(src='assets/flatify/js/jquery-1.10.2.js')
        script(src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile")
        script(src='assets/flatify/js/bootstrap.js')
        script(src='assets/flatify/js/owl.carousel.js')
        script(src='assets/flatify/js/script.js')
        script(src='static/js/home.js')
        // Smoothscroll
        script(type='text/javascript', src='assets/flatify/js/jquery.corner.js')
        script(src='assets/flatify/js/wow.min.js')
        script.
            new WOW().init();
        script(src='assets/flatify/js/classie.js')
